<section class="products-details-container" *ngIf="product">
    <mat-card class="product-card">
        <mat-card-content>
            <div class="product-content">
                <mat-icon aria-hidden="false" aria-label="Close icon" (click)="onClose()">close</mat-icon>
                <ul class="details">
                    <li class="header">{{ product.name }}</li>
                    <li class="grey">$ {{ product.price_sale }}</li>
                    <li>{{ product.description }}</li>
                    <li>Existencias: {{ product.current_stock }}</li>
                    <li>Codigo: {{ product.code }}</li>
                    <li>Proveedor: {{ product.provider.name }}</li>
                </ul>
            </div>
        </mat-card-content>
    </mat-card>
</section>