.products-details-container {
    .product-title {
        mat-icon {
            cursor: pointer;
        }
    }
    .product-card {
        width: 100%;
        .product-content {
            width: 25rem;
        }
    }
}