$maxWidth: 25rem;
.products-details-container {
    .product-card {
        width: 100%;
        .product-content {
            
            width: $maxWidth;
            padding: $maxWidth;

            mat-icon {
                cursor: pointer;
            }
            
            /* Style the list */
            .details {
                list-style-type: none;
                border: 1px solid #eee;
                margin: 0;
                padding: 0;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
            
            /* Add shadows on hover */
            .details:hover {
                box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
            }
            
            /* Details header */
            .details .header {
                background-color: #111;
                color: white;
                font-size: 25px;
            }
            
            /* List items */
            .details li {
                border-bottom: 1px solid #eee;
                padding: 20px;
                text-align: center;
            }
            
            /* Grey list item */
            .details .grey {
                background-color: #eee;
                font-size: 20px;
            }
        }
    }
}