$maxWidth: 100%;
$maxHeight: 40rem;
$searchFontSize: 1.4rem;

.products-table-container {

    overflow-y: scroll;
    max-height: $maxHeight;
    
    .mat-form-field {
        font-size: $searchFontSize;
    }

    .mat-form-field + .mat-form-field {
        margin-left: 8px;
    }
    
    table {
        width: $maxWidth;
        .product-row {
            cursor: pointer;
        }
    }
      
    
}