<section class="products-container">
    <mat-card>
        <mat-card-title>Listado de Productos</mat-card-title>
        <mat-card-content>
            <mat-grid-list cols="12">
                <mat-grid-tile [colspan]="8" [rowspan]="5">
                    <app-products-table 
                        *ngIf="products" 
                        [products]="products"
                        [providers]="providers"
                        [selectedProduct]="selectedProduct"
                        (onSelectProduct)='onSelectProduct($event)'
                        (onAddProduct)='onAddProduct($event)'
                        (onDeleteProduct)='onDeleteProduct($event)'
                        (onEditProduct)='onEditProduct($event)'>
                    </app-products-table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="5">
                    <app-product-detail 
                        [product]="selectedProduct"
                        (closeProduct)='unsetSelectedProduct()'>
                    </app-product-detail>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</section>


